<div class="container mx-auto px-4">
  <!-- PRESENTATION -->
  <% render "section_presentation" %>

  <!-- SKILLS -->
  <% render "skills" %>

  <!-- EXPERIENCES -->
  <% render "experiences" %>

  <!-- ABOUT -->
  <% render "about" %>

  <!-- PROJECTS -->
  <% render "projects" %>

  <!-- TESTIMONIALS -->
  <% render "testimonials" %>

  <!-- CONTACT -->
  <% render "contact" %>

</div>
